---
import Layout from '../layouts/Layout.astro';

import DemoSections from '../components/DemoSections.astro';
import Menu from '../components/Menu.astro';

import { borderRadius } from '../sections/borderRadius';
import { borderStyle } from '../sections/borderStyle';
import { borderWidth } from '../sections/borderWidth';
import { fontSize } from '../sections/fontSize';
import { margin } from '../sections/margin';
import { padding } from '../sections/padding';

import type { DemoData, Section, SectionData, Styles } from '../types';

const demos = [
  borderRadius,
  borderStyle,
  borderWidth,
  fontSize,
  margin,
  padding,
];
const menuOptions = demos.map(({ id, label }) => ({
  id,
  label,
}));
---

<Layout title="Tailwind Demo Site">
	<main>
		<h1>Styles Demo for Tailwind</h1>
		<p class="mb-8">Below are some commonly-used style classes in Tailwind and what they look like when rendered.</p>
    <Menu menuOptions={menuOptions} />
    {demos.map((demo) => (
      <DemoSections data={demo} />
    ))}
    {demos.map((demo) => (
      <DemoSections data={demo} />
    ))}
    {demos.map((demo) => (
      <DemoSections data={demo} />
    ))}
    {demos.map((demo) => (
      <DemoSections data={demo} />
    ))}
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
