---
import BackToTopOfSectionButton from './BackToTopOfSectionButton.astro';

import type { DemoData, Section, SectionData, Styles } from '../types';

interface DemoSection {
  id: string;
  index: number;
  sectionId?: string;
  sectionTitle?: string;
  styles: Styles;
  data: SectionData[];
}

const { id, index, sectionId, sectionTitle, styles, data } = Astro.props;
---
<div id={sectionId}>
  {sectionTitle && (<div class="flex justify-between py-4"><h3>{sectionTitle}</h3>{index > 0 && (<BackToTopOfSectionButton id={id} />)}</div>)}
  <ul class="mb-8">
    {data.map(({ className, note = '' }: SectionData) => (
      <li class={`mb-4 ${className} ${styles?.li}`}>
        <p class={`p-2 ${styles?.p}`}>
          <span class={styles?.span}>{`${className}`}{note && (`, ${note}`)}</span>
        </p>
      </li>
    ))}
  </ul>
</div>
