---

import Accordion from '../components/Accordion.astro';


const allSizes = [
  { selector: 'p-0', label: '0px', },
  { selector: 'p-px', label: '1px', },
  { selector: 'p-0.5', label: '0.125rem, 2px' },
  { selector: 'p-1', label: '0.25rem, 4px' },
  { selector: 'p-1.5', label: '0.375rem, 6px' },
  { selector: 'p-2', label: '0.5rem, 8px' },
  { selector: 'p-2.5', label: '0.625rem, 10px' },
  { selector: 'p-3', label: '0.75rem, 12px' },
  { selector: 'p-3.5', label: '0.875rem, 14px' },
  { selector: 'p-4' , label: '1rem, 16px' },
  { selector: 'p-5' , label: '1.25rem, 20px' },
  { selector: 'p-6' , label: '1.5rem, 24px' },
  { selector: 'p-7' , label: '1.75rem, 28px' },
  { selector: 'p-8' , label: '2rem, 32px' },
  { selector: 'p-9' , label: '2.25rem, 36px' },
  { selector: 'p-10', label: '2.5rem, 40px' },
  { selector: 'p-11', label: '2.75rem, 44px' },
  { selector: 'p-12', label: '3rem, 48px' },
  { selector: 'p-14', label: '3.5rem, 56px' },
  { selector: 'p-16', label: '4rem, 64px' },
  { selector: 'p-20', label: '5rem, 80px' },
  { selector: 'p-24', label: '6rem, 96px' },
  { selector: 'p-28', label: '7rem, 112px' },
  { selector: 'p-32', label: '8rem, 128px' },
  { selector: 'p-36', label: '9rem, 144px' },
  { selector: 'p-40', label: '10rem, 160px' },
  { selector: 'p-44', label: '11rem, 176px' },
  { selector: 'p-48', label: '12rem, 192px' },
  { selector: 'p-52', label: '13rem, 208px' },
  { selector: 'p-56', label: '14rem, 224px' },
  { selector: 'p-60', label: '15rem, 240px' },
  { selector: 'p-64', label: '16rem, 256px' },
  { selector: 'p-72', label: '18rem, 288px' },
  { selector: 'p-80', label: '20rem, 320px' },
  { selector: 'p-96', label: '24rem, 384px' },
];

const bottomSizes = [
  { selector: 'pb-0', label: '0px', },
  { selector: 'pb-px', label: '1px', },
  { selector: 'pb-0.5', label: '0.125rem, 2px' },
  { selector: 'pb-1', label: '0.25rem, 4px' },
  { selector: 'pb-1.5', label: '0.375rem, 6px' },
  { selector: 'pb-2', label: '0.5rem, 8px' },
  { selector: 'pb-2.5', label: '0.625rem, 10px' },
  { selector: 'pb-3', label: '0.75rem, 12px' },
  { selector: 'pb-3.5', label: '0.875rem, 14px' },
  { selector: 'pb-4' , label: '1rem, 16px' },
  { selector: 'pb-5' , label: '1.25rem, 20px' },
  { selector: 'pb-6' , label: '1.5rem, 24px' },
  { selector: 'pb-7' , label: '1.75rem, 28px' },
  { selector: 'pb-8' , label: '2rem, 32px' },
  { selector: 'pb-9' , label: '2.25rem, 36px' },
  { selector: 'pb-10', label: '2.5rem, 40px' },
  { selector: 'pb-11', label: '2.75rem, 44px' },
  { selector: 'pb-12', label: '3rem, 48px' },
  { selector: 'pb-14', label: '3.5rem, 56px' },
  { selector: 'pb-16', label: '4rem, 64px' },
  { selector: 'pb-20', label: '5rem, 80px' },
  { selector: 'pb-24', label: '6rem, 96px' },
  { selector: 'pb-28', label: '7rem, 112px' },
  { selector: 'pb-32', label: '8rem, 128px' },
  { selector: 'pb-36', label: '9rem, 144px' },
  { selector: 'pb-40', label: '10rem, 160px' },
  { selector: 'pb-44', label: '11rem, 176px' },
  { selector: 'pb-48', label: '12rem, 192px' },
  { selector: 'pb-52', label: '13rem, 208px' },
  { selector: 'pb-56', label: '14rem, 224px' },
  { selector: 'pb-60', label: '15rem, 240px' },
  { selector: 'pb-64', label: '16rem, 256px' },
  { selector: 'pb-72', label: '18rem, 288px' },
  { selector: 'pb-80', label: '20rem, 320px' },
  { selector: 'pb-96', label: '24rem, 384px' },
];

const topSizes = [
  { selector: 'pt-0', label: '0px', },
  { selector: 'pt-px', label: '1px', },
  { selector: 'pt-0.5', label: '0.125rem, 2px' },
  { selector: 'pt-1', label: '0.25rem, 4px' },
  { selector: 'pt-1.5', label: '0.375rem, 6px' },
  { selector: 'pt-2', label: '0.5rem, 8px' },
  { selector: 'pt-2.5', label: '0.625rem, 10px' },
  { selector: 'pt-3', label: '0.75rem, 12px' },
  { selector: 'pt-3.5', label: '0.875rem, 14px' },
  { selector: 'pt-4' , label: '1rem, 16px' },
  { selector: 'pt-5' , label: '1.25rem, 20px' },
  { selector: 'pt-6' , label: '1.5rem, 24px' },
  { selector: 'pt-7' , label: '1.75rem, 28px' },
  { selector: 'pt-8' , label: '2rem, 32px' },
  { selector: 'pt-9' , label: '2.25rem, 36px' },
  { selector: 'pt-10', label: '2.5rem, 40px' },
  { selector: 'pt-11', label: '2.75rem, 44px' },
  { selector: 'pt-12', label: '3rem, 48px' },
  { selector: 'pt-14', label: '3.5rem, 56px' },
  { selector: 'pt-16', label: '4rem, 64px' },
  { selector: 'pt-20', label: '5rem, 80px' },
  { selector: 'pt-24', label: '6rem, 96px' },
  { selector: 'pt-28', label: '7rem, 112px' },
  { selector: 'pt-32', label: '8rem, 128px' },
  { selector: 'pt-36', label: '9rem, 144px' },
  { selector: 'pt-40', label: '10rem, 160px' },
  { selector: 'pt-44', label: '11rem, 176px' },
  { selector: 'pt-48', label: '12rem, 192px' },
  { selector: 'pt-52', label: '13rem, 208px' },
  { selector: 'pt-56', label: '14rem, 224px' },
  { selector: 'pt-60', label: '15rem, 240px' },
  { selector: 'pt-64', label: '16rem, 256px' },
  { selector: 'pt-72', label: '18rem, 288px' },
  { selector: 'pt-80', label: '20rem, 320px' },
  { selector: 'pt-96', label: '24rem, 384px' },
];

const leftSizes = [
  { selector: 'pl-0', label: '0px', },
  { selector: 'pl-px', label: '1px', },
  { selector: 'pl-0.5', label: '0.125rem, 2px' },
  { selector: 'pl-1', label: '0.25rem, 4px' },
  { selector: 'pl-1.5', label: '0.375rem, 6px' },
  { selector: 'pl-2', label: '0.5rem, 8px' },
  { selector: 'pl-2.5', label: '0.625rem, 10px' },
  { selector: 'pl-3', label: '0.75rem, 12px' },
  { selector: 'pl-3.5', label: '0.875rem, 14px' },
  { selector: 'pl-4' , label: '1rem, 16px' },
  { selector: 'pl-5' , label: '1.25rem, 20px' },
  { selector: 'pl-6' , label: '1.5rem, 24px' },
  { selector: 'pl-7' , label: '1.75rem, 28px' },
  { selector: 'pl-8' , label: '2rem, 32px' },
  { selector: 'pl-9' , label: '2.25rem, 36px' },
  { selector: 'pl-10', label: '2.5rem, 40px' },
  { selector: 'pl-11', label: '2.75rem, 44px' },
  { selector: 'pl-12', label: '3rem, 48px' },
  { selector: 'pl-14', label: '3.5rem, 56px' },
  { selector: 'pl-16', label: '4rem, 64px' },
  { selector: 'pl-20', label: '5rem, 80px' },
  { selector: 'pl-24', label: '6rem, 96px' },
  { selector: 'pl-28', label: '7rem, 112px' },
  { selector: 'pl-32', label: '8rem, 128px' },
  { selector: 'pl-36', label: '9rem, 144px' },
  { selector: 'pl-40', label: '10rem, 160px' },
  { selector: 'pl-44', label: '11rem, 176px' },
  { selector: 'pl-48', label: '12rem, 192px' },
  { selector: 'pl-52', label: '13rem, 208px' },
  { selector: 'pl-56', label: '14rem, 224px' },
  { selector: 'pl-60', label: '15rem, 240px' },
  { selector: 'pl-64', label: '16rem, 256px' },
  { selector: 'pl-72', label: '18rem, 288px' },
  { selector: 'pl-80', label: '20rem, 320px' },
  { selector: 'pl-96', label: '24rem, 384px' },
];

const rightSizes = [
  { selector: 'pr-0', label: '0px', },
  { selector: 'pr-px', label: '1px', },
  { selector: 'pr-0.5', label: '0.125rem, 2px' },
  { selector: 'pr-1', label: '0.25rem, 4px' },
  { selector: 'pr-1.5', label: '0.375rem, 6px' },
  { selector: 'pr-2', label: '0.5rem, 8px' },
  { selector: 'pr-2.5', label: '0.625rem, 10px' },
  { selector: 'pr-3', label: '0.75rem, 12px' },
  { selector: 'pr-3.5', label: '0.875rem, 14px' },
  { selector: 'pr-4' , label: '1rem, 16px' },
  { selector: 'pr-5' , label: '1.25rem, 20px' },
  { selector: 'pr-6' , label: '1.5rem, 24px' },
  { selector: 'pr-7' , label: '1.75rem, 28px' },
  { selector: 'pr-8' , label: '2rem, 32px' },
  { selector: 'pr-9' , label: '2.25rem, 36px' },
  { selector: 'pr-10', label: '2.5rem, 40px' },
  { selector: 'pr-11', label: '2.75rem, 44px' },
  { selector: 'pr-12', label: '3rem, 48px' },
  { selector: 'pr-14', label: '3.5rem, 56px' },
  { selector: 'pr-16', label: '4rem, 64px' },
  { selector: 'pr-20', label: '5rem, 80px' },
  { selector: 'pr-24', label: '6rem, 96px' },
  { selector: 'pr-28', label: '7rem, 112px' },
  { selector: 'pr-32', label: '8rem, 128px' },
  { selector: 'pr-36', label: '9rem, 144px' },
  { selector: 'pr-40', label: '10rem, 160px' },
  { selector: 'pr-44', label: '11rem, 176px' },
  { selector: 'pr-48', label: '12rem, 192px' },
  { selector: 'pr-52', label: '13rem, 208px' },
  { selector: 'pr-56', label: '14rem, 224px' },
  { selector: 'pr-60', label: '15rem, 240px' },
  { selector: 'pr-64', label: '16rem, 256px' },
  { selector: 'pr-72', label: '18rem, 288px' },
  { selector: 'pr-80', label: '20rem, 320px' },
  { selector: 'pr-96', label: '24rem, 384px' },
];

const leftAndRightSizes = [
  { selector: 'px-0', label: '0px', },
  { selector: 'px-px', label: '1px', },
  { selector: 'px-0.5', label: '0.125rem, 2px' },
  { selector: 'px-1', label: '0.25rem, 4px' },
  { selector: 'px-1.5', label: '0.375rem, 6px' },
  { selector: 'px-2', label: '0.5rem, 8px' },
  { selector: 'px-2.5', label: '0.625rem, 10px' },
  { selector: 'px-3', label: '0.75rem, 12px' },
  { selector: 'px-3.5', label: '0.875rem, 14px' },
  { selector: 'px-4' , label: '1rem, 16px' },
  { selector: 'px-5' , label: '1.25rem, 20px' },
  { selector: 'px-6' , label: '1.5rem, 24px' },
  { selector: 'px-7' , label: '1.75rem, 28px' },
  { selector: 'px-8' , label: '2rem, 32px' },
  { selector: 'px-9' , label: '2.25rem, 36px' },
  { selector: 'px-10', label: '2.5rem, 40px' },
  { selector: 'px-11', label: '2.75rem, 44px' },
  { selector: 'px-12', label: '3rem, 48px' },
  { selector: 'px-14', label: '3.5rem, 56px' },
  { selector: 'px-16', label: '4rem, 64px' },
  { selector: 'px-20', label: '5rem, 80px' },
  { selector: 'px-24', label: '6rem, 96px' },
  { selector: 'px-28', label: '7rem, 112px' },
  { selector: 'px-32', label: '8rem, 128px' },
  { selector: 'px-36', label: '9rem, 144px' },
  { selector: 'px-40', label: '10rem, 160px' },
  { selector: 'px-44', label: '11rem, 176px' },
  { selector: 'px-48', label: '12rem, 192px' },
  { selector: 'px-52', label: '13rem, 208px' },
  { selector: 'px-56', label: '14rem, 224px' },
  { selector: 'px-60', label: '15rem, 240px' },
  { selector: 'px-64', label: '16rem, 256px' },
  { selector: 'px-72', label: '18rem, 288px' },
  { selector: 'px-80', label: '20rem, 320px' },
  { selector: 'px-96', label: '24rem, 384px' },
];

const topAndBottomSizes = [
  { selector: 'py-0', label: '0px', },
  { selector: 'py-px', label: '1px', },
  { selector: 'py-0.5', label: '0.125rem, 2px' },
  { selector: 'py-1', label: '0.25rem, 4px' },
  { selector: 'py-1.5', label: '0.375rem, 6px' },
  { selector: 'py-2', label: '0.5rem, 8px' },
  { selector: 'py-2.5', label: '0.625rem, 10px' },
  { selector: 'py-3', label: '0.75rem, 12px' },
  { selector: 'py-3.5', label: '0.875rem, 14px' },
  { selector: 'py-4' , label: '1rem, 16px' },
  { selector: 'py-5' , label: '1.25rem, 20px' },
  { selector: 'py-6' , label: '1.5rem, 24px' },
  { selector: 'py-7' , label: '1.75rem, 28px' },
  { selector: 'py-8' , label: '2rem, 32px' },
  { selector: 'py-9' , label: '2.25rem, 36px' },
  { selector: 'py-10', label: '2.5rem, 40px' },
  { selector: 'py-11', label: '2.75rem, 44px' },
  { selector: 'py-12', label: '3rem, 48px' },
  { selector: 'py-14', label: '3.5rem, 56px' },
  { selector: 'py-16', label: '4rem, 64px' },
  { selector: 'py-20', label: '5rem, 80px' },
  { selector: 'py-24', label: '6rem, 96px' },
  { selector: 'py-28', label: '7rem, 112px' },
  { selector: 'py-32', label: '8rem, 128px' },
  { selector: 'py-36', label: '9rem, 144px' },
  { selector: 'py-40', label: '10rem, 160px' },
  { selector: 'py-44', label: '11rem, 176px' },
  { selector: 'py-48', label: '12rem, 192px' },
  { selector: 'py-52', label: '13rem, 208px' },
  { selector: 'py-56', label: '14rem, 224px' },
  { selector: 'py-60', label: '15rem, 240px' },
  { selector: 'py-64', label: '16rem, 256px' },
  { selector: 'py-72', label: '18rem, 288px' },
  { selector: 'py-80', label: '20rem, 320px' },
  { selector: 'py-96', label: '24rem, 384px' },
];
---
<Accordion label="Padding">
  <!-- maybe add a menu here to navigate to each section? -->
  <!-- Would need ids on each h3 to link to, along with back to top button -->
  <section class="accordion">
    <p class="mb-8">The text inside each element has a green background color to help show the amount of padding.</p>
    <h3>Padding on all sides</h3>
    <ul class="mb-8">
      {allSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector}`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>

    <h3>Padding on top side</h3>
    <ul>
      {topSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector} bg-rose-700`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>

    <h3>Padding on bottom side</h3>
    <ul>
      {bottomSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector} bg-rose-700`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>

    <h3>Padding on left side</h3>
    <ul>
      {leftSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector} bg-rose-700`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>

    <h3>Padding on right side</h3>
    <ul>
      {rightSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector} bg-rose-700`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>

    <h3>Padding on left and right sides</h3>
    <ul>
      {leftAndRightSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector} bg-rose-700`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>

    <h3>Padding on top and bottom sides</h3>
    <ul>
      {topAndBottomSizes.map(({ selector, label }) => (
        <li class="mb-4 border-2 border-solid">
          <p class={`${selector} bg-rose-700`}><span class="bg-lime-600">{`${selector}, ${label}`}</span></p>
        </li>
      ))}
    </ul>
  </section>
</Accordion>
